<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br/>   
            <h3>Create a new listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter A Catchy Title" type="text" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Enter valid location name</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Property Description" rows="5" cols="50" type="text" class="form-control" required></textarea>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Enter valid description name</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" placeholder="Enter Img Url.." type="text" class="form-control">
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Price. ex. 1,200" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">Enter valid price</div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="Country. ex. India" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">Enter valid country name</div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Location. ex. Mahabaleshwar" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">Enter valid location name</div>
                    </div> 
                </div>
                <button class="btn btn-dark add-btn">Add</button>  
            </form>
            <br/>
        </div>
    </div>
</body>
